@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: #28292D;
  color: #fff;
  padding-top: 1%;
  /* padding: 0 15% 0 15%; */
}

.container{
  padding: 50px;
}

.posteven{
  width: 100%;
  height: 350px;
  border-radius: 5px;
  background: #28292D;
  color: #fff;
  padding: 0 18% 0 18%;
  display: flex;
}

.posteven h2 {
    margin-bottom: 20px;
    font-style: italic;
    font-size: 32px;
    text-align: right;
    padding-right: 5%;
    font-weight: 200;
}

.posteven p {
    margin-bottom: 10px;
    font-style: italic;
    font-size: 20px;
    text-align: right;
    height: auto;
    font-weight: 100;
}

.posteven a {
  color: #283c44;
}


.postodd{
  width: 100%;
  height: 350px;
  border-radius: 5px;
  background: #fff;
  color: #28292D;
  padding: 0 18% 0 18%;
  display: flex;
  flex-direction: row-reverse;
}

.postodd h2 {
    margin-bottom: 20px;
    font-style: italic;
    font-size: 32px;
    text-align: left;
    padding-left: 5%;
    font-weight: 300;
}

.postodd p {
  margin-bottom: 10px;
  font-style: italic;
  font-size: 20px;
  text-align: left;
  height: auto;
  font-weight: 200;
}

.postodd a {
  color: #eeeeee;
}